table {
	border-collapse: collapse;
	width: 100%;
}
th {
	font-size: 18px;
	height: 80px;
	background-color: gray;
}
td {
	padding: 12px;
	background-color: #75D1FF;
	text-align: center;
}
table, th, td {
	border: 1px solid black;
}
body {
	margin: 30px;
	background-color: #BDFF9D;
	font-family: "Times New Roman", Times, serif;
}
a {
	color: black;
}
input {
	width: 150px;
}
input[type=submit] {
	width: 7em;
}
